.image-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}
.product-img{
    width:10rem;
    cursor: pointer;
}
.main-product-img{
    width:50rem;
    height: 35rem;
    margin-bottom: 1rem;
}

@media (max-width: 42em) {
    .main-product-img{
        width:100%;
    }
    .product-img{
        width:7rem;
    }
  }


  @media (max-width: 30em) {
    .main-product-img{
        width:100%;
    }
    .product-img{
        margin-left: .7rem;
    }
    .mobile-images{
        width: 100%;
    }
  }